git+https://github.com/botswana-harvard/edc-base.git@develop#egg=edc_base
git+https://github.com/botswana-harvard/edc-device.git@develop#egg=edc_device
git+https://github.com/botswana-harvard/edc-protocol.git@develop#egg=edc_protocol
git+https://github.com/botswana-harvard/django-crypto-fields.git@develop#egg=django_crypto_fields
git+https://github.com/botswana-harvard/django-revision.git@develop#egg=django_revision
git+https://github.com/botswana-harvard/edc-constants.git@develop#egg=edc_constants
